.mn-autocomplete {
    width: 100%;
    position: relative;
}

.mn-autocomplete--list {
    border: 1px solid #ced4da;
    max-height: calc(50px * 5);
    overflow: scroll;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.mn-autocomplete--with-btn input {
    width: calc(100% - 79px);
    border-radius: 0;
}

.mn-autocomplete--with-btn button {
    border-radius: 0 .25rem .25rem 0;
}

.mn-autocomplete .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.mn-autocomplete--btn {
    position: absolute;
    top: 0;
    right: 0;
}