.table--orders,
.table--orders.element--block {
    flex: 1 1 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.table-header--fixed tr {
    padding-right: 10px;
}

.table--scrollable {
    overflow: auto;
}

.table--orders .table th {
    text-align: center;
    border-top: 0;
}

.table--orders .table td,
.table--orders .table th {
    min-width: 120px;
}

.table--orders .table .table--orders-first-column {
    width: 150px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    min-width: 150px;
    max-width: 150px;
}

.table--orders .table--orders--no-min-width td {
    width: auto;
    min-width: auto;
}

.table td.table--orders-inner-table {
    border: 0;
    padding: 0;
}

.table td.table--orders-inner-table > table tr td {
    border-top: 0;
}

.table--orders .pd-tooltip {
    width: 100%;
}

.table-bordered {
    border: 0;
}

.table--orders .context-menu--open {
    background-color: #eeeff0;
}

.order--finished > td > table > tbody > tr > td,
.order--finished > .table--orders-first-column > span {
    opacity: .5;
}

.product--finished > td,
.product--finished > td > * {
    text-decoration: line-through;
}