.table--orders,
.table--orders.element--block {
    flex: 1 1 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.table-header--fixed tr {
    padding-right: 10px;
}

.table--scrollable {
    overflow: auto;
}

.table--orders .table th {
    text-align: center;
    border-top: 0;
}

.table--orders .table td,
.table--orders .table th {
    min-width: 7em;
}

/* Sloupec ks */
.table--orders .table .table--orders-55 {
    min-width: 55px;
}

/* Sloupce - Výrobek a ukončení */
.table--orders .table .table--orders-100 {
    min-width: 100px;
}

.table--orders .table .table--orders-125 {
    min-width: 125px;
}

.table--orders .table .table--orders-9_5em {
    min-width: 9.5em;
}

.table--orders .table .table--orders-finishdate-column {
    min-width: 15em;
}

.table--orders .table .table--orders-operation-column {
    min-width: 23em;
}

.table--orders .column--fixed-header,
.table--orders .two-columns--left-side,
.table--orders .table--orders-first-column {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.table--orders .table--orders-first-column {
    border-top: 0;
    border-left: 0;
}

.table--orders .table--orders--no-min-width td {
    width: auto;
    min-width: auto;
}

.table td.table--orders-inner-table {
    border: 0;
    padding: 0;
}

.table td.table--orders-inner-table > table tr td {
    border-top: 0;
}

.table--orders .table th:first-child,
.table td.table--orders-inner-table > table tr td:first-child {
    border-left: 0;
}

.table--orders-inner-table > .width--100 {
    table-layout: fixed;
}

.table--orders .pd-tooltip {
    width: 100%;
}

.table-bordered {
    border: 0;
}

.table--orders .context-menu--open {
    background-color: #eeeff0;
}

.table--scrollable > .table > tbody > tr > td {
    border-bottom: 2px solid var(--calendarDayBorderColor);
}

.row--total {
    border-top: 3px double var(--calendarDayBorderColor);
}

.table--orders-inner-table > table:last-child tr td {
    border-bottom: 0;
} 

.order--finished > p,
.order--finished > td > table > tbody > tr > td,
.order--finished > .table--orders-first-column > span {
    opacity: .5;
}

.product--finished > td,
.product--finished > td > * {
    text-decoration: line-through;
}

.product--finished > .context,
.product--finished > .context> * {
    text-decoration: none;
}

.order--table-settings .input-group {
    text-align: center;
}

.order--table-settings .input-group + .input-group {
    margin-left: 10px;
}

.table--orders-tooltip {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: .3rem;
    position: absolute;
    align-items: center;
    align-content: center;
}

.table--orders-tooltip > p {
    width: 100%;
    padding: .3rem;
}

.area--dates {
    max-height: 100px;
    border-radius: .25rem;
    padding: .375rem .75rem;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    overflow: auto;
}

.area--dates .btn {
    padding: 0;
}

.tooltip .rc-tooltip-content {
    max-width: 400px;
}
