.table--orders,
.table--orders.element--block {
    flex: 1 1 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.table--scrollable {
    overflow: auto;
}

.table--orders .table th {
    text-align: center;
    border-top: 0;
    border-bottom: 0;
}

.table--orders .table td,
.table--orders .table th {
    min-width: 120px;
}

.table--orders .table tr th:first-child,
.table--orders .table tr td:first-child {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.table-bordered {
    border: 0;
}
