.context {
    width: 200px;
    height: auto;
    background-color: white;
    display: block;
    position: fixed;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #343434;
    z-index: 9999;
}

.context > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context > ul li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.context > ul li:last-child {
    border-bottom: 0;
}

.context > ul li > button {
    border: 0;
    width: 100%;
    outline: none;
    display: block;
    color: #343434;
    background: none;
    text-align: left;
    text-decoration: none;
}

.context > ul li:hover a {
    color: #000;
}

.context > ul li:hover {
    background-color: #eeeff0;
}
