:root {
    --fixedWidth: 8.57rem;
}

.calendar-wrapper,
.calendar-wrapper.element--block {
    width: 100%;
    flex: 1 0 232px;
    display: flex;
    overflow: hidden;
}

.calendar-column--fixed {
    min-width: 150px;
    overflow: hidden;
}

.calendar--machine {
    height: 42px;
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    border-right: 0;
}

.calendar--machine + .calendar--machine {
    border-top: 0;
}

.calendar {
    overflow-x: scroll;
    position: relative;
    border: 1px solid #000;
    border-bottom: 0;
    z-index: 1;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table td {
    border: 1px solid #000;
    border-left: 0;
    border-top: 0;
}

.calendar-table td:last-child > table td:last-child {
    border-right: 0;
}

.calendar-table--header {
}

.calendar-table--header td {
    height: 21px;
    max-height: 21px;
    min-height: 21px;
}

.calendar-table--body {
}

.calendar-table--body td,
.calendar-table--body th {
    height: 40px;
}

.calendar-year--week {
    height: 45px;
    font-size: 1.2rem;
    padding-left: var(--fixedWidth);
}

.calendar-table--hours {
    min-width: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.calendar-table .calendar-table--empty-hours {
    min-width: 10px;
}

.calendar-table .calendar-table--empty-hours:nth-child(odd) {
    border-right: 0;
}

.calendar-table .calendar-table--empty-hours:nth-child(even) {
    border-left: 0;
}

.calendar--left-side {
    overflow: visible;
}

.column-fixed {
    left: 0;
    top: auto;
    border: 1px solid black;
    margin-top: 1px;
    width: var(--fixedWidth);
    position: absolute;
    display: table;
}

.column-fixed > p {
    display: table-cell;
    vertical-align: middle;
}

.calendar-events--holder {
    top: 0;
    left: 0;
    position: absolute;
}

.calendar--event {
    display: flex;
    padding: 0 5px;
    position: absolute;
}

.calendar--event-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar--event-note:before,
.calendar--event-note:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.calendar--event-note:before {
    border-width: 0.5rem;
    border-right-color: #ccc;
    border-top-color: #ccc;
}

.calendar--event-note:after {
    border-width: 0.5rem;
    border-right-color: #f00;
    border-top-color: #f00;
}

.calendar--pin {
    padding: 5px;
}

.calendar--pin span {
    width: 25px;
    height: 25px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./push-pin.svg);
}

.calendar--event-card {
    min-width: 450px;
    min-height: 250px;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: all ease-in 150ms;
    transform: translate(-50%, 500px)
}

.calendar--event-card.card--active {
    opacity: 1;
    transform: translate(-50%, 0);
}

.calendar--event-dragging {
    display: none;
}

.calendar--event-dragging--over {
    background-color: #eeeff0;
}

.calendar--event-selected {
    border: 1px solid black;
}

.calendar--event--resizer {
    width: 5px;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: none;
    position: absolute;
    background-color: #000;
    cursor: w-resize;
}

.calendar--event--resizer-right {
    right: 0;
    left: auto;
    cursor: e-resize;
    transform: translate(0, -50%);
}

.calendar--event-selected .calendar--event--resizer {
    display: block;
}

.calendar--cell-pause {
    background: repeating-linear-gradient(
        45deg,
        #6c757d,
        #6c757d 5px,
        #343a40 5px,
        #343a40 10px
    );
}
