:root {
    --fixedWidth: 8.57rem;
}

.calendar-wrapper {
    width: 100vw;
    display: flex;
    padding: 10px;
}

.calendar-column--fixed {
    min-width: 150px;
}

.calendar--machine {
    height: 42px;
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
}

.calendar {
    height: calc(100% - 45px);
    overflow-x: scroll;
    position: relative;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table tr > td {
    border: 1px solid #000;
}

.calendar-table--body td,
.calendar-table--body th {
    height: 40px;
}

.calendar-year--week {
    height: 45px;
    font-size: 1.2rem;
    padding-left: var(--fixedWidth);
}

.calendar-table--hours {
    min-width: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.column-fixed {
    left: 0;
    top: auto;
    border: 1px solid black;
    margin-top: 1px;
    width: var(--fixedWidth);
    position: absolute;
    display: table;
}

.column-fixed > p {
    display: table-cell;
    vertical-align: middle;
}

.calendar-events--holder {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.calendar--event {
    display: flex;
    position: absolute;
}

.calendar--event-text {
    margin-left: 10px;
}

.calendar--event-note:before,
.calendar--event-note:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.calendar--event-note:before {
    border-width: 0.5rem;
    border-right-color: #ccc;
    border-top-color: #ccc;
}

.calendar--event-note:after {
    border-width: 0.5rem;
    border-right-color: #f00;
    border-top-color: #f00;
}

.calendar--pin {
    padding: 5px;
}

.calendar--pin span {
    width: 25px;
    height: 25px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./push-pin.svg);
}

.calendar-day--current {
    color: #BADA55;
}