* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Defaultní velikost písma v aplikaci (včetně menu a popupů) */
    font-size: var(--rootFontSize);
}

body {
    overflow: hidden;
    font-family: sans-serif;
    background-color: #f8f9fa;
}

* {
    scrollbar-base-color: #D8D8D8;
    scrollbar-track-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-highlight-color: #6c757d;
}

*::-webkit-scrollbar {
    background-color: #fff;
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, 0.17);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

textarea {
    resize: none;
}

.app {
    width: 100vw;
    height: 100vh;
    /* velikost písma v tabulce a kalendáři */
    font-size: var(--fontSize);
    overflow: hidden;
}

.navbar {
    padding: 10px;
}

.app-main--screen {
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
}

.popup-order {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    transform: translate(0, 0);
}

.popup-order .input-group-prepend {
    width: 150px;
}

.popup-order .input-group-prepend > span {
    width: 100%;
    border-right: 0;
}

.popup-order .input-group-append > span {
    border-left: 0;
}

.popup-order .mn-autocomplete {
    width: calc(100% - 150px);
}

.popup-order .mn-autocomplete .form-control {
    border-radius: 0 .25rem .25rem 0;
}

.popup-order .spacer {
    height: 6px;
}

.popup-order textarea {
    height: 73px;
}

.orders--detail {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.popup--settings {
    width: 750px;
    height: 500px;
}

.table--machines td:last-child .btn {
    width: calc(50% - 5px);
}

.popup--settings section {
    padding: 0;
}

.popup--settings .react-tabs__tab-panel {
    padding: 10px;
    overflow: auto;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #ced4da;
    margin-bottom: 0;
}

.react-tabs__tab {
    margin-left: 5px;
    border-radius: 3px 3px 0 0;
    border: 0;
}

.settings--tabs-selected {
    font-weight: bold;
    background-color: white;
    border-bottom: 3px solid #C8E0FF;
}

.settings--overflow {
    height: 345px;
    overflow: auto;
    margin-top: 10px;
}

/* helpers */
.table {
    margin-bottom: 0;
}

.table td,
.table th {
    padding: .4rem;
    vertical-align: middle;
}

.table thead th {
    vertical-align: middle;
}

p,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.form-control-sm {
    padding: 0 .5rem;
}

.element--block {
    background-color: #fff;
}

.shadow--light {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.lock--scroll {
    overflow: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-align--center {
    text-align: center;
}

.text-align--right {
    text-align: right;
}

.text-weight--bold {
    font-weight: bold;
}

.bg-dark {
    background-color: #424242!important;
}

.pt-3 {
    padding-top: 10px !important;
}

.pr-3 {
    padding-right: 10px !important;
}

.pb-3 {
    padding-bottom: 10px !important;

}

.pl-3 {
    padding-left: 10px !important;
}

.mt-3 {
    margin-top: 10px !important;
}

.mr-3 {
    margin-right: 10px !important;
}

.mb-3 {
    margin-bottom: 10px !important;

}

.ml-3 {
    margin-left: 10px !important;
}

.no-p {
    padding: 0 !important;
}

.cursor--default {
    cursor: default;
}

.list-group-item-action {
    cursor: pointer;
}

.width--100 {
    width: 100%;
}

.display--flex {
    display: flex;
}

/* COLORS */
.product--same-day {
    background-color: var(--sameDayColor);
}

.product--day-before {
    background-color: var(--dayBeforeColor);
}

.product--week-before {
    background-color: var(--weekBeforeColor);
}

/* CUSTOM TOOLTIP */
.pd-tooltip {
    position: relative;
    display: inline-block;
}

.pd-tooltip__inner {
    width: auto;
    z-index: 9998;
    position: fixed;
    min-height: 34px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.pd-tooltip--pointerevents {
    pointer-events: none;
}

.pd-tooltip__content {
    padding: 8px 10px;
    background-color: #424242;
    color: #fff;
    text-align: left;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.pd-tooltip--open .pd-tooltip__arrow--wrapper {
    width: 100%;
    height: 10px;
}

.pd-tooltip--open .pd-tooltip__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.pd-tooltip--open.pd-tooltip__bottom .pd-tooltip__arrow {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 5px 5px 5px;
    border-bottom-color: #424242;
}
