:root {
    --fixedWidth: 8.57rem;
    --selectingCellColor: #424242;
    --calendarBorderColor: #dee2e6;
    --calendarWeekendColor: #FFFDC0;
    --calendarDayBorderColor: #6c757d;
    --fontSize: 11px;
    --rootFontSize: 14px;
    --sameDayColor: rgba(255, 0, 0, .50);
    --dayBeforeColor: rgba(255, 165, 0, .50);
    --weekBeforeColor: rgba(255, 255, 0, .50);
}
