:root {
    --fixedWidth: 8.57rem;
    --selectingCellColor: #424242;
    --calendarBorderColor: #dee2e6;
    --calendarWeekendColor: #FFFDC0;
    --calendarDayBorderColor: #6c757d;
    --fontSize: 11px;
    --rootFontSize: 14px;
    --sameDayColor: #ff6b6b;
    --dayBeforeColor: #ffca6a;
    --weekBeforeColor: #ffff9b;
}
