* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    overflow: hidden;
    font-family: sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 500px auto;
}

.popup-order .input-group-prepend {
    width: 100px;
}

.popup-order .input-group-prepend > span {
    width: 100%;
}

/* helpers */
p,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-align--center {
    text-align: center;
}

.text-align--right {
    text-align: right;
}

.text-weight--bold {
    font-weight: bold;
}
